@charset "utf-8";

//底部
.footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    ul{
        @extend %box;
        li{
            width: 20%;
            height:60px;
            text-align: center;
            background:#95a8a0;
            &.active{
                a{
                    color:#fff;
                    &:before{
                        background-position: 0 -203px;
                    }
                    &.procedure{
                        &:before{
                            background-position: 0 -285px;
                        }
                    }
                    &.journey{
                        &:before{
                            background-position: 0 -327px;
                        }
                    }
                    &.blessing{
                        &:before{
                            background-position: 0 -367px;
                        }
                    }
                    &.photograph{
                        &:before{
                            background-position: 0 -244px;
                        }
                    }
                }
            }
            a{
                display: block;
                position: relative;
                height: 100%;
                line-height: 6;
                font-size: 14px;
                color: #999;
                background:#95a8a0;
                &:before{
                    content: "";
                    position: absolute;
                    margin-left: -10px;
                    top: 10px;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    background: url("../../../image/public/icon.png") no-repeat;
                    background-size: 100% auto;
                    background-position: 0 0;
                }
                &.photograph{
                    &:before{
                        background-position: 0 -39px;
                    }
                }
                &.procedure{
                    &:before{
                        background-position: 0 -80px;
                    }
                } 
                &.journey{
                    &:before{
                        background-position: 0 -122px;
                    }
                }
                &.blessing{
                    &:before{
                        background-position: 0 -168px;
                    }
                }
            }
        }
    }
}