@charset "utf-8";
@import "compass";

@import "public/common/method";

.wrapper{
    height:100%;
    background:url('../../../image/public/bg1.jpg') #7F7F7F no-repeat;
    background-size:100% auto;
}
.mod-my{
    position: relative;
    margin: 20px auto;
    padding:2%;
    width:85%;
    color:#fff;
    .head{
    	@extend %fn-clear;
    	text-align: center;
    	.bride{
			float: left;
			margin: 10px 0 0 10px;
			padding-top: 20px;
			background: url("../../../image/public/icon.png") no-repeat;
			background-size: 20px auto;
			background-position: 12px -502px;
            color:#fff;
            font-size: 14px;
    	}
    	h3{
    		display:inline-block;
    		margin-top:10px;
    		font-size: 18px;
    	}
    	.blessing{
    		float:right;
    		margin: 10px 10px 0 0;
			padding-top: 20px;
			background: url("../../../image/public/icon.png") no-repeat;
			background-size: 20px auto;
			background-position: 12px -542px;
            color:#fff;
            font-size: 14px;
    	}
    }
    .main{
    	padding:5% 5% 0 5%;
    	li{
			position:relative;
			margin-bottom: 15px;
    		@extend %fn-clear;
    		.title{
    			margin-bottom: 15px;
    			font-size: 16px;
    		}
    		.ipt{
    			position:relative;
    			&.post-speech{
    				margin-top:15px;
    			}
    			input{
    				padding:10px 10px 10px 40px;
    				width:100%;
    				border:none;
    				@include border-radius(3px);
    				color:#757575;
					background-image: url("../../../image/public/icon.png");
				    background-size: 20px auto;
				    background-position: 10px -572px;
				    background-repeat: no-repeat;
				    &.words{
				    	background-position: 10px -571px;
				    }
				    &.speech{
				    	background-position: 10px -688px;
				    }
    			}
    			.more{
    				position:absolute;
    				top:0;
    				right:10px;
    				width:20px;
    				height:100%;
					background: url("../../../image/public/icon.png") no-repeat;
				    background-size: 20px auto;
				    background-position: 0 -650px;
    			}
    			.remove{
    				position:absolute;
    				top:0;
    				right:10px;
    				width:20px;
    				height:100%;
					background: url("../../../image/public/icon.png") no-repeat;
				    background-size: 20px auto;
				    background-position: 0 -728px;
    			}
    		}
    		.choose{
    			padding:0 5%;
    			width:50%;
    			&.come{
    				float: left;
    			}
    			&.people{
    				float: right;
    			}
    			.title{
    				text-align: center;
    				font-size: 14px;
    			}
    			.btn{
    				@extend %fn-clear;
    				text-align: center;
    				.count{
						display:inline-block;
						width:30px;
    					height:30px;
    					font-size: 14px;
    					text-align: center;
    					line-height: 30px;
					}
    				a{
    					display:inline-block;
    					width:30px;
    					height:30px;
    					font-size: 12px;
    					color:#878787;
    					background-color:#fff;
    					@include border-radius(3px);
    					text-align: center;
    					line-height: 30px;
    					&.active{
    						color:#fff;
    						background-color:#804a13;
    					}
    					&.yes{
    						float: left;
    					}
    					&.no{
    						float: right;
    					}
    					&.reduce{
    						float: left;
							background-image: url("../../../image/public/icon.png");
						    background-size: 20px auto;
						    background-position: center -765px;
						    background-repeat: no-repeat;
    					}
    					&.add{
    						float: right;
							background-image: url("../../../image/public/icon.png");
						    background-size: 20px auto;
						    background-position: center -797px;
						    background-repeat: no-repeat;
    					}
    				}
    			}
    		}
    		.send{
    			display:block;
    			margin:0 auto;
    			width:80%;
    			height:30px;
    			color:#fff;
    			background:#804a13;
				line-height: 30px;
				text-align: center;
    			@include border-radius(5px);
    		}
    	}
    }
}

.mod-relatives{
	position: relative;
	margin:0 auto 100px;
	padding:2%;
	width:85%;
    color:#fff;
    h3{
    	margin: 10px 0;
    	font-size: 18px;
    	text-align: center;
    }
    li{
    	position:relative;
    	margin-bottom: 20px;
    	padding:0 5%;
    	@extend %fn-clear;
        .info-main{
            font-size: 14px;
        }
    	.avatar{
    		float: left;
    		margin-right: 10px;
    		width:40px;
    		height:100%;
    		img{
				background-color:#000;
    		}
    	}
		.date{
			float: right;
		}
		.handle{
			@extend %fn-clear;
			a{
				float: right;
				width:20px;
				height:20px;
				background: url("../../../image/public/icon.png") no-repeat;
				background-size: 20px auto;
				background-position: 0 -841px;
			}
		}
    }
}