@charset "utf-8";
@import "compass";

@import "public/common/method";

.wrapper{
    background:url('../../../image/public/bg.jpg') no-repeat;
    background-size:100% auto;
}

.content{
    position: relative;
    margin: 50px auto;
    padding:5%;
    width: 80%;
    height: 80%;
    overflow: scroll;
    background-color:rgba(255,255,255,0.3);
    p{
        text-align: left;
        line-height: 2;
        color: #666;
        font-size: 14px;
        &.left{
            color:#000
        }
    }
}
