@charset "UTF-8";

body{
    background: #f3f3f3;
}
.header{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #b6b6b6;
    background: url('../image/icon.png') #fff no-repeat;
    background-position: 15px -204px;
    background-size: 30px;
}
.header h1{
    font-size: 16px;
    font-weight: normal;
}
.wrapper .logo{
    text-align: center;
}
.wrapper .logo img{
    margin:60px 0;
    width:150px;
}
.wrapper .phone,.wrapper .password{
    margin-bottom: 20px;
    padding:15px 0 15px 60px;
    background: url('../image/icon.png') #fff no-repeat;
    background-position: 0 16px;
    background-size: 30px;
}
.wrapper .phone{
    background-position: 20px 16px;
}
.wrapper .password{
    background-position: 20px -26px;
}
.wrapper .phone .tel,.wrapper .password .pwd{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
    font-family: Arial, Helvetica, 'Microsoft Yahei';
}
.footer{
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
}
.footer .submit{
    display: block;
    width:100%;
    height:50px;
    line-height: 50px;
    font-size: 14px;
    background: #009900;
    color:#fff;
    text-align: center;
}
.footer .handle{
    text-align: center;
    height:45px;
    line-height: 45px;
}
.footer .handle .reg{
    display: inline-block;
    position: relative;
    margin-right: 30px;
    font-size: 14px;
    color:#333;
}
.footer .handle .reg:after{
    content: '';
    position: absolute;
    top: 16px;
    right: -30px;
    width: 1px;
    height: 10px;
    background: #757575;
}
.footer .handle .reset{
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
    color:#333;
}
.footer .third{
    text-align: center;
    height:45px;
    line-height: 45px;
}
.footer .third a{
    display: inline-block;
    margin:0 10px;
    width:40px;
    height:40px;
    background: url('../image/icon.png') no-repeat;
    background-position: 6px -78px;
    background-size: 30px;
}
.footer .third a.weibo{
    background-position: 6px -125px;
}
.footer .third a.wechat{
    background-position: 6px -172px;
}