@charset "UTF-8";


/*header*/
.header{
	background:#f85f4e;
	color:#fff;
	padding:0 1.25rem;
}
.header p{
	display: inline-block;
	margin:0;
	padding: 3rem 0 3rem 6rem;
	font-size: 1rem;
	background:url('../image/index_icon.png') no-repeat;
	background-position: 0 -765px;
	background-size: 5rem auto;
}
.header p span{
	font-size: .8rem;
}
.header a{
	float: right;
	padding-right:1rem;
	margin-top: 3.5rem;
	color: #fff;
	font-size: .8rem;
	background:url('../image/index_icon.png') no-repeat;
	background-position: -5px -684px;
	background-size: 5rem auto;
}

/*nav*/
.nav{
	background:#fff;
	color:#fff;
}
.nav ul{
	padding-bottom: .3rem;
}
.nav ul li{
	float: left;
	padding-top: 2.3rem;
	text-align: center;
	width: 20%;
	background:url('../image/index_icon.png') no-repeat;
	background-position: center 10px;
	background-size: 5rem auto;
	font-size:.8rem;
}
.nav .receipt{
	background-position: center -36px;
}
.nav .delivery{
	background-position: center -81px;
}
.nav .assess{
	background-position: center -184px;
}
.nav .completed{
	background-position: center -134px;
}

/*menu*/
.menu{
	background:#fff;
	color:#fff;
	margin:1rem 0;
	font-size: .9rem;
}
.menu li{
	height:3.25rem;
	line-height: 3.25rem;
	background:url('../image/index_icon.png') no-repeat;
	background-position: -10px -230px;
	background-size: 5rem auto;
}
.menu .line{
	border-top:.1rem solid #f2f2f2;
	border-bottom:.1rem solid #f2f2f2;
}
.menu li a{
	padding-left:3.5rem;
	display: block;
	background:url('../image/index_icon.png') no-repeat;
	background-position: right -715px;
	background-size: 5rem auto;
}
.menu .save{
	background-position: -10px -288px;
}
.menu .shop{
	background-position: -10px -345px;
}

/*address*/
.address,.operation{
	background:#fff;
	color:#fff;
	padding-left:1.25rem;
	margin:1rem 0;
	font-size: .9rem;
	height:3.25rem;
	line-height: 3.25rem;
}
.operation{
	margin-bottom: 2rem;
}
.address a,.operation a{
	display: block;
	background:url('../image/index_icon.png') no-repeat;
	background-position: right -715px;
	background-size: 5rem auto;
}
.address{
	background:url('../image/index_icon.png') no-repeat #fff;
	background-position: -10px -410px;
	background-size: 5rem auto;
	padding-left: 0;
}
.address a{
	padding-left: 3.5rem;
}
/*footer*/
.footer{
	position: fixed;
	width: 100%;
	bottom:0;
	left:0;
	background:#fff;
	color:#666;
	font-size: .9rem;
}
.footer li{
	width: 33%;
	float: left;
	text-align: center;
	padding:2.2rem 0 .1rem 0;
	background:url('../image/index_icon.png') no-repeat;
	background-position: center -486px;
	background-size: 5rem auto;
}
.footer .cloud{
	background-position: center -604px;
}
.footer .cart{
	background-position: center -539px;
}
.footer .cloud a,.footer .cart a{
	color:#ccc;
}
