@charset "UTF-8";

/*nav*/
.nav{
	background:#fff;
	color:#666;
}
.nav ul li{
	float: left;
	text-align: center;
	width: 20%;
	font-size:.8rem;
	height:2.3rem;
	line-height: 2.3rem;
}
.nav ul li .active{
	border-bottom:0.2rem solid #f85f4e;
	padding-bottom: .5rem;
}

/*container*/
.container p{
	text-align: center;
	padding-top: 16rem;
	background:url('../image/order_icon.png') no-repeat;
	background-position: center -85px;
	background-size: 10rem auto;
	font-size: 1rem;
}

/*footer*/
.footer{
	position: fixed;
	width: 100%;
	bottom:0;
	left:0;
	background:#fff;
	color:#666;
	font-size: .9rem;
}
.footer li{
	width: 33%;
	float: left;
	text-align: center;
	padding:2.4rem 0 .1rem 0;
	background:url('../image/index_icon.png') no-repeat;
	background-position: center -602px;
	background-size: 5rem auto;
}
.footer a{
	color:#ccc;
}
.footer .my{
	background:url('../image/order_icon.png') no-repeat;
	background-position: center 7px;
	background-size: 10rem auto;
}
.footer .cart{
	background-position: center -537px;
}
