<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>首页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/dist/public/common.css" rel="stylesheet">
<link href="../style/dist/index/index.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header"></div>
        <div class="container">
            <div class="welcome">
                <div class="top"></div>
                <div class="middle"></div>
                <div class="down"></div>
            </div>
            <div class="content">
                <div class="frame"></div>
                <img src="../image/public/eg.jpg" alt="">
            </div>
            <div class="main">
                <p class="love">某某<span>&&</span>某某</p>
                <p><span>农历</span>二零一五年十一月初二</p>
                <p><span>星历</span>2015年12月12日 15时05分</p>
                <p><span>地点</span>阿西吧大酒店10楼</p>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li class="active">
                    <a href="./index.html">首页</a>
                </li>
                <li>
                    <a href="./photograph.html" class="photograph">婚纱摄影</a>
                </li>
                <li>
                    <a href="./procedure.html" class="procedure">婚礼流程</a>
                </li>
                <li>
                    <a href="./journey.html" class="journey">爱的旅程</a>
                </li>
                <li>
                    <a href="./blessing.html" class="blessing">亲友祝福</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="../script/src/lib/jquery.min.js"></script>
</body>
</html>