@charset "utf-8";
@import "compass";
@import "public/common/method";

.header{
    @extend %fn-clear;
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #1c1c1c;
    text-align: center;
    h1{
        margin: 0 50px;
        font-size: 16px;
        color: #fff;
    }
    .back, .share{
        float: left;
        width: 35px; 
        height: 100%;
        background: url("../../../image/icon.png") no-repeat;
        background-size: 25px auto;
        background-position: 16px 15px;
        &.share{
            float: right;
            margin-top: -44px;
            margin-right: 6px;
            background-position: 0 -174px;
            height: 40px;
        }
    }
}

.mod-main{
    position: relative;
    background:#32323a;
    padding-bottom: 10px;
    .editer{
        @extend %fn-clear;
        padding: 10px;
        .avatar{
            position: absolute;
            top:10px;
            left:10px;
            width: 45px;
            height: 45px;
            @include border-radius(50%);
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .main{
            margin-left: 55px; 
            .info{
                @extend %fn-clear;
                margin-bottom: 10px;
                color: #fff;
                font-size: 14px;
            }
            .reply{
                font-size: 12px;
                color: #999;
            }
        }
        .btn{
            a{
                @include border-radius(5px);
                margin-top: -32px;
                float: right;
                width: 50px;
                height: 25px;
                background: #669acc;
            }
        }
    }
    .synopsis{
        position: relative;
        padding: 6px 17px;
        color: #fff;
        h3{
            font-size: 16px;
        }
        .info{
            padding: 10px 0;
            span{
                position: relative;
                padding: 0 10px;
                color: #999;
                font-size: 12px;
                &.type{
                    padding: 0; 
                }
                &.play{
                    padding: 0 0 0 20px;
                    background: url("../../../image/icon.png") no-repeat;
                    background-size: 25px auto;
                    background-position: 0 -218px;
                }
                &.praise{
                    padding: 0 0 0 20px;
                    background: url("../../../image/icon.png") no-repeat;
                    background-size: 25px auto;
                    background-position: 0 -114px;
                }
                &.like{
                    padding: 0 0 0 20px;
                    background: url("../../../image/icon.png") no-repeat;
                    background-size: 25px auto;
                    background-position: 0 -251px;
                }
                &.line{
                    color:#404048;
                    padding: 0;
                }
            }
        }
    }
    .movice{
        position: relative;
        margin-top: 10px;
        .vedio{
            width: 100%;
        }
    }
    .content{
        position: relative;
        margin-bottom: 10px;
        padding: 0 17px;
        font-size: 14px;
        p{
            color: #fff;
            line-height: 1.5;
        }
        .href{
            color: #6699cc;
        }
    }
    .score{
        @extend %fn-clear;
        padding: 0 17px;
        ul{
            width: 70%;
            li{
                position:relative;
                float: left;
                margin-right:5px;
                padding-top:5px;
                width: 50px;
                height: 50px;
                text-align: center;
                @include border-radius(50%);
                color: #fff;
                .circle {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    border-radius: 50%;
                    background: #9b8bda;
                }
                .pie_left, .pie_right {
                    width:50px; 
                    height:50px;
                    position: absolute;
                    top: 0;left: 0;
                }
                .left, .right {
                    width:50px; 
                    height:50px;
                    background:#f2d15e; 
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .pie_right, .right {
                    clip:rect(0,auto,auto,25px);
                }
                .pie_left, .left {
                    clip:rect(0,25px,auto,0);
                }
                .mask {
                    padding-top:5px;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    left: 2px;
                    top: 2px;
                    background: #f2d15e; 
                    position: absolute;
                    text-align: center;
                    color: #fff;
                }
                &.acting-li{
                    .circle{
                        background:#9b8bda;
                        .acting{
                            color:#9b8bda;
                        }
                    }
                }
                &.writer-li{
                    .circle{
                        background:#f36464;
                        .writer{
                            color:#f36464;
                        }
                    }
                }
                &.shot-li{
                    .circle{
                        background:#3fc17f;
                        .shot{
                            color:#3fc17f;
                        }
                    }
                }
                &.later-li{
                    .circle{
                        background:#9b8bda;
                        .later{
                            color:#9b8bda;
                        }
                    }
                }
            }
        }
        .sco{
            float:right;
            color:#999;
            font-size: 14px;
            .beat,.numbers{
                font-size: 12px;
            }
            span{
                color:#f8a945;
            }
        }
    }
}

//标签页
.mod-tab{
    position: relative;
    background:#28282d;
    .tab{
        @extend %fn-clear;
        li{
            float:left;
            width: 33%;
            text-align: center;
            a{
                display: block;
                height: 40px;
                line-height: 40px;
                color: #ccc;
                border-bottom: 1px solid #32323a;
                &.active{
                    color: #6699cc;
                    border-bottom: 1px solid #6699cc;
                }
            }
        }
    }
    .content{
        padding: 0 17px;
        color:#fff;
        .item{
            @extend %fn-clear;
            position: relative;
            .app{
                @extend %fn-clear;
                padding-top: 10px;
                .img{
                    float:left;
                    margin-right:10px;
                    width:50px;
                    height:50px;
                    background:#fff;
                    @include border-radius(10px);
                }
                .explain{
                    font-size: 14px;
                }
                .author{
                    font-size: 12px;
                    color:#999999;
                }
            }
            .download{
                display:block;
                margin: 20px 0;
                width:100%;
                height:40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                color: #fff;
                background: url("../../../image/icon.png") #669acc no-repeat;
                background-size: 25px auto;
                background-position: 74px -277px;
                @include border-radius(10px);
            }
            .good{
                position:relative;
                li{
                    @extend %fn-clear;
                    margin-bottom: 20px;
                    padding-left: 50px;
                    font-size: 14px;
                    background: url("../../../image/icon.png") no-repeat;
                    background-size: 30px auto;
                    background-position: 10px -404px;
                    &.two{
                        background-position: 10px -496px;
                    }
                    &.three{
                        background-position: 10px -597px;
                    }
                    &.four{
                        background-position: 10px -659px;
                    }
                    &.five{
                        background-position: 10px -706px;
                    }
                    p{
                        color:#999;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

//轮播
.mod-slider{
    position: relative;
    padding: 10px 0;
    border-top:1px solid #32323a;
    .slider{
        position: relative;
        overflow: hidden;
        height: 220px;
        .container{
            width: 100%;
            height: 200px;
            margin: 0 20px;
            overflow: hidden;
        }
        .content{
            li{
                float:left;
                margin: 0 10px;
                width: 125px;
                height: 200px;
                background:#1c1c1c;
            }
        }
        .nav{
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 100%;
            height: 20px;
            margin-left: -50px;
            li{
                float: left;
                margin-right:5px;
                width: 10px;
                height: 10px;
                background:#535357;
                text-indent: -9999px;
                @include border-radius(50%);
                &.active{
                    background:#fff;
                }
            }
        }
    }
}

//评论
.mod-comment{
    position: relative;
    padding: 13px 17px 60px 17px;
    background: #1f1f1f;
    .comment{
        font-size: 12px;
        color: #999;
        .sum{
            padding-left: 9px;
            color: #ccc;
        }
    }
    .hot,.new{
        margin-top: 10px;
        overflow: hidden;
        .title{
            position: relative;
            margin-bottom: 10px;
            color: #666;
            text-align: center;
            &:before{
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 40%;
                height: 1px;
                background: #32323a;
            }
            &:after{
                content: "";
                position: absolute;
                top: 10px;
                right: 0;
                width: 40%;
                height: 1px;
                background: #32323a;
            }
        }
        li{
            @extend %fn-clear;
            position: relative;
            bottom: -1px;
            padding: 10px 0;
            border-bottom: 1px solid #32323a;
            .avatar{
                position: absolute;
                top:10px;
                left:0;
                width: 45px;
                height: 45px;
                @include border-radius(50%);
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .main{
                margin-left: 55px; 
                .info{
                    @extend %fn-clear;
                    margin-bottom: 10px;
                    color: #fff;
                    font-size: 14px;
                    .date{
                        padding-left:10px;
                        color: #666;
                        font-size: 12px;
                    }
                    .praise{
                        float: right;
                        color: #999;
                        font-size: 12px;
                        background: url("../../../image/icon.png") no-repeat;
                        background-size: 25px auto;
                        padding-left: 20px;
                        background-position: 0 -113px;
                    }
                }
                .reply{
                    font-size: 14px;
                    color: #999;
                }
            }
        }
        &.new{
            li{
                bottom: 0;
            }
        }
    }
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background:#32323a;
    color: #fff;
    .mod-reply{
        position:relative;
        width: 100%;
        height: 100%;
        .entry{
            margin: 0 50px 0 14px;
            padding-top: 7px;
            height: 100%;
            .discuss{
                @include border-radius(5px);
                width: 100%;
                padding: 5px;
                outline: none;
                border: none;
                font-size: 14px;
                color: #757575
            }
            input::-webkit-input-placeholder {
                color:#999;
                font-family: Arial, Helvetica, 'Microsoft Yahei';
            }
        }
        .send{
            float: right;
            margin-top: -30px;
            margin-right: 12px;
            color: #fff;
            font-size: 14px;
        }
    }
}
@include respond-to('4') {
    .mod-main .score ul{
        width: 100%;
    }
    .mod-main .score .sco{
        float:left;
        margin-top: 10px;
    }
}
@include respond-to('5') {
    .mod-main .score ul{
        width: 100%;
    }
    .mod-main .score .sco{
        float:left;
        margin-top: 10px;
    }
}