html{
    font-size: 20px;
}
body{
    background:#f2f2f2;
}
.wrapper{
    position: relative;
    zoom: 1;
}
.header{
    position: relative;
    width: 100%;
    height: 2.5rem;
    background:#00814d;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    padding-right: 1rem;
}
.header .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;
    background: url('../../image/icon.png') no-repeat;
    background-position: 1rem .8rem;
    background-size: 1.2rem auto;
    color: #fff;
}
.header .search{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 2rem;
    line-height: 2.5rem;
}
.header .search input{
    width: 100%;
    height: 1.5rem;
    border: none;
    text-align: center;
    background: #007546;
    color: #fff;
    font-size: .6rem;
}
.header .search .search-btn{
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 2rem;
    height: 1.5rem;
    background: url('../../image/icon.png') no-repeat;
    background-position: 0.5rem -8.6rem;
    background-size: 1.2rem auto;
    background-color: #00643c;
}
.filter{
    position: relative;
    margin-bottom:.05rem;
    width: 100%;
    height: 2.5rem;
    background:#fff;
    line-height: 2.5rem;
    text-align: center;
}
.filter li{
    position: relative;
    float: left;
    width: 33%;
}
.filter li a{
    display: inline-block;
    width:100%;
    color:#999;
    background:url('../../image/icon.png') no-repeat;
    background-size: 1.2rem auto;
    background-position: 4rem -12.1rem;
}
.filter li .grade{
    color:#999;
    background-position: 4rem -23rem;
}
.filter li .active{
    color:#00814d;
    background-position: 4rem -21.55rem;
}
.filter li .r,.filter li .l{
    position: absolute;
    top: 0.5rem;
    border-left: 0.05rem solid #ccc;
    height: 1.5rem;
}
.filter li .l{
    left: 0;
}
.filter li .r{
    right: 0;
}
.up{
    background-position: 4rem -10.2rem !important;
}
.down{
    background-position: 4rem -14.1rem !important;
}
.main{
    position: relative;
}
.main li{
    margin-top:-0.05rem;
    padding:1rem;
    background:#fff;
    border-top:.05rem solid #ccc;
    border-bottom:.05rem solid #ccc;
}
.main li:before,.main li:after{
    content: "";
    display: table;
}
.main li:after{
    clear: both;
}
.main li .head-img{
    float: left;
    margin-right: 1rem;
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}
.main li .head-img img{
    width:100%;
    height: 100%;
}
.right .info .name{
    float: left;
    background: url('../../image/icon.png') no-repeat;
    background-position: right -17.1rem;
    background-size: 1rem auto;
    display: inline-block;
    padding-right: 1.1rem;
    color: #666;
    font-size: .7rem;
}
.right .info .distance{
    float: right;
    padding-left: 0.8rem;
    background: url('../../image/icon.png') no-repeat;
    background-position: left -13.9rem;
    background-size: 1rem auto;
    font-size: .6rem;
    color: #999;
}
.right .info .job{
    font-size: .6rem;
    color:#999;
}
.star{
    display: block;
    padding:.5rem 0;
    background: url('../../image/star.png') no-repeat;
    background-position: 7.5rem 0.5rem;
    background-size: 12.35rem auto;
    color:#999;
}
.star1{
    background-position: 7.5rem -1.4rem;
}
.star2{
    background-position: 7.5rem -3.32rem;
}
.star3{
    background-position: 7.5rem -5.2rem;
}
.star4{
    background-position: 7.5rem -7.1rem;
}
.star5{
    background-position: 7.5rem -9rem;
}
.count span{
    color:#999;
}
.layer{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background:#f2f2f2;
}
.layer a{
    margin-top:-.05rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    display: block;
    color:#999;
    border-top:.05rem solid #ccc;
    border-bottom:.05rem solid #ccc;
    background:#fff;
}
@media screen and (min-width: 414px) {/*6plus*/
    .filter li a{
        background-position: 4.5rem -12.1rem;
    }
    .up{
        background-position: 4.5rem -10.2rem !important;
    }
    .down{
        background-position: 4.5rem -14.1rem !important;
    }
    .filter li .grade{
        color:#999;
        background-position: 4.5rem -23rem;
    }
    .filter li .active{
        color:#00814d;
        background-position: 4.5rem -21.55rem;
    }

}
@media screen and (max-width: 320px) {/*5*/
    .filter li a{
        background-position: 3.8rem -12.1rem;
    }
    .filter li .r,.filter li .l{
        top:.7rem;
        height: 1rem;
    }
    .up{
        background-position: 3.8rem -10.2rem !important;
    }
    .down{
        background-position: 3.8rem -14.1rem !important;
    }
    .main li{
        padding:1rem .5rem;
    }
    .filter li .grade{
        color:#999;
        background-position: 3.5rem -23rem;
    }
    .filter li .active{
        color:#00814d;
        background-position: 3.5rem -21.55rem;
    }
}