<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>影评</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/dist/public/common.css" rel="stylesheet">
<link href="../style/dist/detail/index.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="back"></a>
            <h1>导演</h1>
            <a href="javascript:;" class="share"></a>
        </div>
        <div class="container">
            <div class="mod-main">
                <h3 class="title">《火星救援》独家影评</h3>
                <div class="info">
                    <span class="type">影视技巧及心得分享</span>
                    <span class="editor">编辑：大熊</span>
                    <span class="like">1032</span>
                </div>
                <div class="main">
                    <img src="../image/eg.jpg" alt="火星救援">
                    <p>由雷德利·斯科特执导，马特·达蒙、杰西卡·查斯坦、凯特·玛拉、塞巴斯蒂安·斯坦、杰夫·丹尼尔斯等人主演的科幻电影《火星救援》在北美上映近一个月来票房势头依旧不减，上周末再度登上北美周末票房榜的首位，累计票房超过1.66亿美元，全球票房突破3.84亿美元。影片将在11月25日迎来中国之旅，在此之前时光网独家影评将带读者提前领略影片的魅力。</p>
                    <p>《火星救援》根据安迪·威尔的同名原著改编，马特·达蒙饰演主人公马克·瓦特尼，他是阿瑞斯3号(Ares 3)飞船上的六名宇航员之一。飞船在执行火星登陆任务时意外遇到剧烈沙尘暴，造成沃特尼滞留火星，而同船的其他宇航员都以为他已经牺牲。飞船的指挥官梅丽莎·刘易斯（杰西卡·查斯坦饰演）为此深感自责，但无奈之下只能率领其他宇航员返回地球。幸运的是，沃特尼是一名生物学家。</p>
                </div>
            </div>
            <div class="mod-recommend">
                <div class="title">相关推荐</div>
                <div class="main">
                    <ul>
                        <li>
                            <img src="../image/eg1.jpg" alt="">
                            <a href="javascript:;">如何拍出大片效果</a>
                        </li>
                        <li>
                            <img src="../image/eg2.jpg" alt="">
                            <a href="javascript:;">摄影新手技巧</a>
                        </li>
                        <li>
                            <img src="../image/eg3.jpg" alt="">
                            <a href="javascript:;">超级大师黄大熊教你拍电影！</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mod-comment">
                <div class="comment">评论<span class="sum">324</span></div>
                <div class="hot">
                    <div class="title">相关推荐</div>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="new">
                    <div class="title">最新评论</div>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="mod-reply">
                <a href="javascript:;" class="emoji"></a>
                <div class="entry">
                    <input type="text" placeholder="写评论" class="discuss">
                </div>
                <a href="javascript:;" class="send">发送</a>
            </div>
        </div>
    </div>
    <script src="../script/src/lib/jquery.min.js"></script>
</body>
</html>