<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>分享</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/dist/public/common.css" rel="stylesheet">
<link href="../style/dist/share/index.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="javascript:;" class="back"></a>
            <h1>无间道之校园风云 - 焦距拍摄</h1>
            <a href="javascript:;" class="share"></a>
        </div>
        <div class="container">
            <div class="mod-main">
                <div class="editer">
                    <div class="avatar">
                        <img src="../image/avatar.jpg" alt="">
                    </div>
                    <div class="main">
                        <div class="info">angelababy007</div>
                        <div class="reply">05-17  20:35</div>
                    </div>
                    <div class="btn">
                        <a href="javascript:;"></a>
                    </div>
                </div>
                <div class="movice">
                    <video class="vedio" src="http://www.w3school.com.cn/i/movie.ogg" controls="controls">
                    您的浏览器不支持 video 标签。
                    </video>
                </div>
                <div class="synopsis">
                    <h3>霍比特人：五军之战</h3>
                    <div class="info">
                        <span class="type">现代/剧情片</span>
                        <span class="line">|</span>
                        <span class="play">30.5万</span>
                        <span class="line">|</span>
                        <span class="praise">1032</span>
                        <span class="line">|</span>
                        <span class="like">1032</span>
                    </div>
                </div>
                <div class="content">
                    <p>第一次很激动！第一次很激动！第一次很激动！第一次很激动！第一次很激动！第
                        一次很激动！第一次很激动！第一次很激动！第一次很激动！第一次很激动！第一
                        次很激动！第一次很激动！第一次很激动！第一次很激动！第一次很激动！第一次很激动...<a href="javascript:;" class="href">《一分钟爱情故事》</a>
                    </p>
                </div>
                <div class="score">
                    <ul>
                        <li class="acting-li">
                            <div class="circle" data-count="41">
                                <div class="pie_left"><div class="left"></div></div>
                                <div class="pie_right"><div class="right"></div></div>
                                <div class="mask">
                                    <p>演技</p>
                                    <p class="acting">4.16</p>
                                </div>
                            </div>
                        </li>
                        <li class="writer-li">
                            <div class="circle" data-count="80">
                                <div class="pie_left"><div class="left"></div></div>
                                <div class="pie_right"><div class="right"></div></div>
                                <div class="mask">
                                  <p>编剧</p>
                                  <p class="writer">8.06</p>
                                </div>
                            </div>
                        </li>
                        <li class="shot-li">
                            <div class="circle" data-count="32">
                                <div class="pie_left"><div class="left"></div></div>
                                <div class="pie_right"><div class="right"></div></div>
                                <div class="mask">
                                  <p>拍摄</p>
                                  <p class="shot">3.27</p>
                                </div>
                            </div>
                        </li>
                        <li class="later-li">
                            <div class="circle" data-count="41">
                                <div class="pie_left"><div class="left"></div></div>
                                <div class="pie_right"><div class="right"></div></div>
                                <div class="mask">
                                  <p>后期</p>
                                  <p class="later">4.16</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="sco">
                        <p>作品评分：<span>8.6</span></p>
                        <p class="beat">击败全国 68% 作品</p>
                        <p class="numbers">4.172评分</p>
                    </div>
                </div>
            </div>
            <div class="mod-tab">
                <ul class="tab">
                    <li>
                        <a href="javascript:;">Ta的更多作品</a>
                    </li>
                    <li>
                        <a href="javascript:;">热门作品</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="active">焦距软件介绍</a>
                    </li>
                </ul>
                <div class="content">
                    <div class="item">
                        <div class="app">
                            <div class="img"></div>
                            <p class="explain">焦距 - 视频原来可以这样玩，海量玩法让你简单拍电影！中国最具原创的影视平台等你来！</p>
                            <p class="author">Xiamen Yundian Technology Co.,Ltd.</p>
                        </div>
                        <a href="javascript:;" class="download">点击免费下载焦距APP</a>
                        <ul class="good">
                            <li class="one">
                                <h3>视频轻松变电影</h3>
                                <p>分镜编辑、视频调色、添加字幕、增加音效、背景音乐、录制旁白等等人性化功能让你用手机就能简单拍出专业级电影</p>
                            </li>
                            <li class="two">
                                <h3>丰富视频玩法尽显你的才华合魅力</h3>
                                <p>百种视频娱乐玩法让你创作无穷创意、尽情释放你的个人魅力吧！</p>
                            </li>
                            <li class="three">
                                <h3>海量原创影视内容</h3>
                                <p>中国最大的原创影视平台，国人的创意和才华造就海量精致影视作品，让你看到停不下来</p>
                            </li>
                            <li class="four">
                                <h3>踏入影视圈秒变艺人</h3>
                                <p>展现才华，在平台中得到众人瞩目，你就是下一个Super star</p>
                            </li>
                            <li class="five">
                                <h3>掌握拍摄技巧，与影视友人共同成长</h3>
                                <p>文章更新不间断，影视技巧轻松掌握，影视社交，找到志同道合的影视友人或同城好友，共同分享经验，探讨影视爱好，制作精良电影</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mod-slider">
                <div class="slider">
                    <div class="container">
                        <ul class="content">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mod-comment">
                <div class="comment">评论<span class="sum">324</span></div>
                <div class="hot">
                    <div class="title">相关推荐</div>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="new">
                    <div class="title">最新评论</div>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                        <li>
                            <div class="avatar">
                                <img src="../image/avatar.jpg" alt="">
                            </div>
                            <div class="main">
                                <div class="info">
                                    <span class="name">angelababy007</span>
                                    <span class="date">05-17  20:35</span>
                                    <a href="javascript:;" class="praise">1032</a>
                                </div>
                                <div class="reply">好漂亮好漂亮好漂亮漂亮漂亮漂亮漂亮漂亮漂亮</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="mod-reply">
                <div class="entry">
                    <input type="text" placeholder="您的宝贵意见是我们前进的动力，快来说说哟~" class="discuss">
                </div>
                <a href="javascript:;" class="send">发送</a>
            </div>
        </div>
    </div>
    <script src="../script/src/lib/jquery.min.js"></script>
    <script src="../script/src/plugins/jquery.slider.js"></script>
    <script>
        $(function(){
            $('.slider').slider({duration:1000,steps:'auto'});

            $('.circle').each(function(index, el) {
                var num = $(this).data('count') * 3.6;
                if (num<=180) {
                    $(this).find('.right').css('transform', "rotate(" + num + "deg)");
                } else {
                    $(this).find('.right').css('transform', "rotate(180deg)");
                    $(this).find('.left').css('transform', "rotate(" + (num - 180) + "deg)");
                };
            });
        });
    </script>
</body>
</html>