@charset "utf-8";
@import "compass";

@import "public/common/method";

.wrapper{
    height:100%;
    background:url('../../../image/public/bg.png') #7F7F7F no-repeat;
    background-size:100% auto;
}
.content{
    position: relative;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow: scroll;
    background-color:rgba(255,255,255,0.8);
    p{
        line-height: 2;
        color: #000;
        font-size: 14px;
        &.left{
            text-align: left;
        }
    }
}
