html{
    font-size: 20px;
}
body{
    background:#f2f2f2;
}
.wrapper{
    position: relative;
    zoom: 1;
}
.header{
    position: relative;
    width: 100%;
    height: 2.5rem;
    background:#00814d;
    color:#fff;
    text-align: center;
}
.header .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;
    background: url('../../image/icon.png') no-repeat;
    background-position: 1rem .8rem;
    background-size: 1.2rem auto;
    color: #fff;
}
.header h1{
    font-weight: normal;
    font-size: .9rem;
    height: 2.5rem;
    line-height: 2.5rem;
}
.header .save{
    position: absolute;
    padding-bottom: .2rem;
    color: #fff;
    font-size: .6rem;
    display: inline-block;
    background:url('../../image/icon.png') no-repeat;
    background-size: 1.2rem auto;
    bottom: 0;
    right: 3rem;
    width: 2rem;
    padding-top: 2rem;
    background-position: center -1.2rem;
}
.header .share{
    position: absolute;
    padding-bottom: .2rem;
    color: #fff;
    font-size: .6rem;
    display: inline-block;
    background:url('../../image/icon.png') no-repeat;
    background-size: 1.2rem auto;
    bottom: 0;
    right: .5rem;
    width: 2rem;
    padding-top: 2rem;
    background-position: center -3.5rem;
}
.container{
    position: relative;
}
.container .main-img{
    width:100%;
    height:100%;
    background: #fff;
}
.container .main-img img{
    width:100%;
    height: 100%;
}
.title{
    padding-bottom: .5rem;
}
.set-meal{
    margin-bottom:.5rem;
    padding:.5rem 1rem;
    background:#fff;
}
.set-meal .tit{
    font-size: .625rem;
    color:#00814d;
}
.set-meal .line{
    min-height: .05rem;
    float: right;
    border-bottom: .05rem solid #999;
    padding-top: .3rem;
    width: 80%;
}
.set-meal .text span{
    padding-right:.5rem;
}
.step{
    background: #fff;
    margin-bottom: 5rem;
}
.step .step-nav{
    height:2.5rem;
    line-height: 2.5rem;
    border:0.05rem solid #ebebeb;
}
.step .step-nav ul li{
    float: left;
    width:33%;
    text-align: center;
}
.step .step-nav ul li a{
    padding-bottom: .8rem;
    color:#999;
    font-size: .7rem;
}
.step .step-nav ul li .active{
    color:#00814d;
    border-bottom:0.1rem solid #00814d;
}
.step-main{
    display: none;
}
.order{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height:2.5rem;
    line-height: 2.5rem;
    background:#fff;
    text-align: center;
    box-sizing: border-box;
}
.order .price{
    float: left;
    width:30%;
    background:#fff;
}
.order .price span{
    font-size: .6rem;
    color:#666;
}
.order .price span b{
    color:#ff6666;
    font-size: .8rem;
}
.order .order-btn{
    float: left;
    width:70%;
    background:#00814d;
    color:#fff;
    font-size: 0.8rem;
}