@charset "UTF-8";
body{
	word-wrap: break-word;
	background:#f9f9f9;
	color:#757575;
}
.silde{
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	height:100%;
	width:400px;
	background:url('../image/slide_bg.jpg') no-repeat;
	background-size:cover;
}
.box{
	padding:50px 30px;
	text-align: center;
}
.head{
	display: inline-block;
	border:2px solid #ebebeb;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.head img{
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
}
.name{
	color:#c5c5c5;
	font-size: 28px;
}
.url{
	color:#c5c5c5;
	font-weight: normal;
	font-size: 14px;
}
.nav{
	margin-top:30px;
}
.nav li{
	padding:10px 0;
}
.nav li a{
	color:#fff;
}
.nav li a:hover{
	border-bottom:1px dashed #fff;
}
.main{
	padding: 20px 0 0 440px;
}
.main span{
	font-size: 100px;
}