@charset "UTF-8";
body{
	font-size: 14px;
	background-color: #f5f7f9;
}
.wrapper{
	border-top: 3px solid #222;
}
.container{
	position: relative;
	margin: 0 auto;
	width: 960px;
}
.container:before, .container:after{
	content: "";
	display: table;
}
.container:after{
	clear: both;
	overflow: hidden;
}
/*侧栏*/
.sidebar{
	position: static;
	float: left;
	width: 240px;
	line-height: 2;
}
.sidebar .site-meta{
	margin: 0;
	padding: 20px 0;
	color: #fff;
	background: #222;
	text-align: center;
}
.sidebar .brand{
	position: relative;
	color: #fff;
}
.sidebar .site-title{
	display: inline-block;
	vertical-align: top;
	line-height: 36px;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.sidebar .ft{
	margin-top: 10px;
	background: #fff;
}
.sidebar .ft .site-info{
	position: relative;
	padding: 20px 10px;
	box-sizing: border-box;
	text-align: center;
	width: 240px;
	color: #555;
}
.sidebar .site-info .avatar{
	display: block;
	margin: 0 auto;
	padding: 2px;
	max-width: 120px;
	height: auto;
	border: 1px solid #eee;
}
.sidebar .site-info .name{
	margin: 0;
	text-align: center;
	color: #222;
	font-weight: 600;
}
.sidebar .site-info .description{
	margin-top: 0;
	text-align: center;
	font-size: 13px;
	color: #999;
}
.sidebar .site-info .links{
	margin-top: 20px;
}
.sidebar .site-info .links:before,.sidebar .site-info .links:after{
	content: "";
	display: table;
}
.sidebar .site-info .links:after{
	clear: both;
	overflow: hidden;
}
.sidebar .links .links-item{
	float: left;
	margin: 5px 0 0;
	width: 50%;
}
.sidebar .links .links-item a{
    display: block;
	box-sizing: border-box;
    text-decoration: none;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url('http://maxiaoxiang.com/image/small_icon.png') no-repeat;
    background-position: 10px 6px;
}
.sidebar .links .links-item a:hover{
	border-radius: 4px;
    background: url('http://maxiaoxiang.com/image/small_icon.png') #eee no-repeat;
    background-position: 10px 6px;
}
.sidebar .menu{
	padding: 20px 0 16px;
	text-align: center;
	background: #fff;
}
.sidebar .menu-item{
	display: block;
    margin: 0;
    list-style: none;
}
.sidebar .menu-item a{
	display: block;
	position: relative;
    padding: 5px 20px 5px 40px;
	font-size: 13px;
	line-height: 2;
	text-transform: capitalize;
    box-sizing: border-box;
    text-align: left;
    background: url('http://maxiaoxiang.com/image/small_icon.png') no-repeat;
}
.sidebar .menu-item a.repertory{
    background-position: 20px -33px;
}
.sidebar .menu-item a.repertory:hover{
    background-position: 20px -33px;
}
.sidebar .menu-item a.blog{
    background-position: 20px -78px;
}
.sidebar .menu-item a.blog:hover{
    background-position: 20px -78px;
}
.sidebar .menu-item a.message{
    background-position: 20px -121px;
}
.sidebar .menu-item a.message:hover{
    background-position: 20px -121px;
}
.sidebar .menu-item a:hover{
	background: url('http://maxiaoxiang.com/image/small_icon.png') #f9f9f9 no-repeat;
}
.sidebar .menu-item-active a{
	background: url('http://maxiaoxiang.com/image/small_icon.png') #f9f9f9 no-repeat;
}
.sidebar .menu-item-active a:after{
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 15px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #bbb;
}
.content{
	float: right;
	padding: 40px;
	width: 700px;
	box-sizing: border-box;
	background: #fff;
	min-height: 700px;
}
/*底部*/
.footer{
	position: relative;
	width: 100%;
	bottom: 0;
	height: 40px;
	line-height: 40px;
}
.footer p{
	padding-right: 30px;
	text-align: right;
	opacity: .5;
    filter: alpha(opacity=50);
	font-size: 12px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",tahoma,arial,simsun,"\5B8B\4F53";
}
.footer p a{
	color:#000;
}
.footer p .spe{
	padding:0 5px;
}

/*表格样式*/
table{
    width: 100%;
    border:1px solid #CAD3DA;
}
table td{
	padding:10px;
	width:150px;
	border:1px solid #CAD3DA;
}
table thead tr{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom:1px solid #CAD3DA;
}
table thead td{
	padding:0;
	border-left:1px solid #CAD3DA;
	background:#DFEBFB;
}
table .explain{
	width: 500px;
}
table tbody tr:nth-child(even){
	background:#E7EFF9;
}
pre{
    padding:10px;
    font-family:Monaco, Consolas, "Courier New";
}
.method{
    font-family:Monaco, Consolas, "Courier New";
}
.eg{
    margin:20px 0;
    padding:10px;
    border:1px dashed #bdbdbd;
    background:#f9f9f9;
}
.bad{
    padding:0 0 0 10px;
    border:1px dashed #bdbdbd;
    color:#757575;
    background:#f9f9f9;
}