@charset "utf-8";
@import "compass";
//全局方法
@import "./common/method";
//全局样式
@import "./common/reset";
@import "./common/layout";
@import "./common/animate";
@import "./common/swiper";

*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-wrapper, .swiper-main, .swiper-photo{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-slide{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}