<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>婚礼请柬</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/dist/public/common.css" rel="stylesheet">
<link href="../style/dist/1/index.css" rel="stylesheet">
</head>
<body>
    <div class="welcome">
        <div class="top resize"></div>
        <div class="middle resize"></div>
        <div class="down resize"></div>
    </div>
    <div class="swiper-container swiper-container-vertical">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="content">
                    <h3>WEDDING</h3>
                    <div class="frame resize"></div>
                    <img src="../image/public/eg.jpg" class="resize" alt="">
                </div>
                <div class="main">
                    <p class="love">某某<span>&&</span>某某</p>
                    <p><span>农历</span>二零一五年十一月初二</p>
                    <p><span>新历</span>2015年12月12日 15时05分</p>
                    <p><span>地点</span>凯宾斯基大酒店10楼</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide ani resize" style="top:150px;">
                            <img src="../image/public/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:150px;">
                            <img src="../image/public/2.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:150px;">
                            <img src="../image/public/3.png" alt="">
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:150px;">
                            <img src="../image/public/4.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:150px;">
                            <img src="../image/public/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="txt">
                    <p>10：30</p>
                    <p>宴会开始</p>
                    <p class="left">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                    <p>10：30</p>
                    <p>宴会开始</p>
                    <p class="left">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                    <p>10：30</p>
                    <p>宴会开始</p>
                    <p class="left">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                    <p>10：30</p>
                    <p>宴会结束</p>
                </div>         
            </div>
            <div class="swiper-slide">
                <div class="swiper-photo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide ani resize" style="top:100px;">
                            <img src="../image/public/1.jpg" alt="">
                            <p class="text">每次见到你的时候，每次见到你的时候！你就会象给我释了定身的魔法一样！我嘴很笨，只希望能常常的看到你，能静静的听你诉 说，默默的思念</p>
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:100px;">
                            <img src="../image/public/2.jpg" alt="">
                            <p class="text">每次见到你的时候，每次见到你的时候！你就会象给我释了定身的魔法一样！我嘴很笨，只希望能常常的看到你，能静静的听你诉 说，默默的思念</p>
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:100px;">
                            <img src="../image/public/3.png" alt="">
                            <p class="text">每次见到你的时候，每次见到你的时候！你就会象给我释了定身的魔法一样！我嘴很笨，只希望能常常的看到你，能静静的听你诉 说，默默的思念</p>
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:100px;">
                            <img src="../image/public/4.jpg" alt="">
                            <p class="text">每次见到你的时候，每次见到你的时候！你就会象给我释了定身的魔法一样！我嘴很笨，只希望能常常的看到你，能静静的听你诉 说，默默的思念</p>
                        </div>
                        <div class="swiper-slide slide ani resize" style="top:100px;">
                            <img src="../image/public/5.png" alt="">
                            <p class="text">每次见到你的时候，每次见到你的时候！你就会象给我释了定身的魔法一样！我嘴很笨，只希望能常常的看到你，能静静的听你诉 说，默默的思念</p>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="swiper-slide">
                <div class="mod-blessing">
                    <div class="nav">
                        <a href="javascript:;" class="my-blessing active">我的祝福</a>
                        <a href="javascript:;" class="friends-blessing">亲友祝福</a>
                    </div>
                    <div class="friends">
                        <ul>
                            <li>
                                <div class="avatar">
                                    <img src="" alt="" width="40" height="40">
                                </div>
                                <div class="info">
                                    <div class="info-head">
                                        <span class="username">新一</span>
                                        <span class="date">21:19</span>
                                    </div>
                                    <div class="info-main">
                                        幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar">
                                    <img src="" alt="" width="40" height="40">
                                </div>
                                <div class="info">
                                    <div class="info-head">
                                        <span class="username">新一</span>
                                        <span class="date">21:19</span>
                                    </div>
                                    <div class="info-main">
                                        幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福幸福
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="javascript:;" class="more">换一批</a>
                    </div>
                    <div class="my">
                        <ul>
                            <li class="name resize">
                                <input type="text" placeholder="您的姓名" class="input">
                            </li>
                            <li class="blessing resize">
                                <input type="text" placeholder="您的祝福" class="input">
                            </li>
                        </ul>
                        <div class="ch">
                            <div class="choose come">
                                <div class="title">是否赴宴</div>
                                <div class="btn" id="change">
                                    <a href="javascript:;" class="yes active">是</a>
                                    <a href="javascript:;" class="no">否</a>
                                </div>
                            </div>
                            <div class="choose people">
                                <div class="title">赴宴人数</div>
                                <div class="btn">
                                    <a href="javascript:;" id="reduce" class="reduce">-</a>
                                    <span class="count">1</span>
                                    <a href="javascript:;" id="add" class="add">+</a>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" id="send" class="send">发送</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="switch resize"></a>
        <div class="handle resize">
            <a href="javascript:;" class="music"></a>
            <a href="javascript:;" class="address"></a>
            <a href="tel:10086" class="phone"></a>
            <a href="javascript:;" id="down" class="download"></a>
        </div>
        <img src="../image/public/arrow.png" style="width:20px;height:15px;position:absolute;bottom:5px; left:150px;" id="array" class="resize"> 
    </div>
    <div class="mask"></div>
    <div class="success">
        <a href="javascript:;" id="close" class="close resize"></a>
        <p class="send-success resize">发送完成</p>
        <div class="hand resize">
            <a href="javascript:;" class="">新人语</a>
            <a href="javascript:;" class="downapp">下载app</a>
        </div>
        <p class="down">下载后，可收到回复！</p>
    </div>
    <div class="flower resize">
        <img src="../image/1/flower1.png" alt="">
    </div>
    <div class="flower1 resize">
        <img src="../image/1/flower2.png" alt="">
    </div>
    <script src="../script/src/lib/jquery.min.js"></script>
    <script src="../script/src/lib/swiper-3.3.1.jquery.min.js"></script>
    <script src="../script/src/lib/swiper.animate1.0.2.min.js"></script>
    <script>

    $(function(){
        scaleW=window.innerWidth/320;
        scaleH=window.innerHeight/480;
        var resizes = document.querySelectorAll('.resize');
        for (var j=0; j<resizes.length; j++) {
            resizes[j].style.width=parseInt(resizes[j].style.width)*scaleW+'px';
            resizes[j].style.height=parseInt(resizes[j].style.height)*scaleH+'px';
            resizes[j].style.top=parseInt(resizes[j].style.top)*scaleH+'px';
            resizes[j].style.left=parseInt(resizes[j].style.left)*scaleW+'px'; 
        }

        var mySwiper = new Swiper ('.swiper-container', {
            direction : 'vertical',
            mousewheelControl : true,
            onInit: function(swiper){
                swiperAnimateCache(swiper);
                swiperAnimate(swiper);
            },
            onSlideChangeEnd: function(swiper){
                swiperAnimate(swiper);
            },
            onTransitionEnd: function(swiper){
                swiperAnimate(swiper);
            },
            watchSlidesProgress: true,
            onProgress: function(swiper){
                for (var i = 0; i < swiper.slides.length; i++){
                    var slide = swiper.slides[i];
                    var progress = slide.progress;
                    var translate = progress*swiper.height/4;  
                    scale = 1 - Math.min(Math.abs(progress * 0.5), 1);
                    var opacity = 1 - Math.min(Math.abs(progress/2),0.5);
                    slide.style.opacity = opacity;
                    es = slide.style;
                    es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = 'translate3d(0,'+translate+'px,-'+translate+'px) scaleY(' + scale + ')';
                }
            },
            onSetTransition: function(swiper, speed) {
                for (var i = 0; i < swiper.slides.length; i++){
                    es = swiper.slides[i].style;
                    es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = speed + 'ms';
                }
            },
            onSlideChangeEnd: function(swiper){
                var index = swiper.activeIndex;
                if(index == '1'){
                    var mySwiper2 = new Swiper('.swiper-main',{
                        centeredSlides : true,
                        slidesPerView : 'auto',
                        spaceBetween : 20,
                    });
                }
                if(index == '3'){
                    var mySwiper3 = new Swiper('.swiper-photo',{
                        centeredSlides : true,
                        slidesPerView : 'auto',
                        spaceBetween : 20,
                    });
                }
            }
        });
        $(document).click(function(){
            $('.middle').addClass('begin-middle').on('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd',function(){
                $('.top').addClass('begin-top');
                $('.down').addClass('begin-down').on('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd',function(){
                    $('.welcome').fadeOut();
                });
            });
        });

        $('.switch').click(function(){
            $(this).toggleClass('open');
            if($('.handle').hasClass('open')){
                $('.handle').removeClass('open').addClass('close');
                setTimeout(function(){
                    $('.handle').removeClass('close');
                },200);
            }else{
                $('.handle').removeClass('close').addClass('open');
            }
        });

        $('.my-blessing').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            $('.my').show();
            $('.friends').hide();
        });

        $('.friends-blessing').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            $('.my').hide();
            $('.friends').show();
        });

        $('#send').click(function(){
            $('.mask').show();
            $('.success').show();
            $('.swiper-container').hide();
        });

        $('#close').click(function(){
            $('.mask').hide();
            $('.success').hide();
            $('.swiper-container').show();
        });

        $('#down').click(function(){
            mySwiper.slideTo(6,1000,false);
        });

        $('#change a').click(function(){
            $(this).addClass('active').siblings('a').removeClass('active');
        });

        $('#reduce').click(function(){
            var val = $('.count').text();
            $('.count').text(function(){
                return parseInt(val-1) < 1 ? 1 : parseInt(val)-1;
            });
        });
        $('#add').click(function(){
            var val = $('.count').text();
            $('.count').text(parseInt(val)+1);
        });

        $('.music').click(function(){
            $(this).toggleClass('close_music');
        });
    });
    </script>
</body>
</html>