@charset "utf-8";

//底部
.footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    ul{
        @extend %box;
        li{
            width: 20%;
            height:60px;
            text-align: center;
            background:#ccc;
            &.active{
                a{
                    color:#fff;
                    &:before{
                        background-position: 0 -194px;
                    }
                    &.procedure{
                        &:before{
                            background-position: 0 -274px;
                        }
                    }
                    &.journey{
                        &:before{
                            background-position: 0 -313px;
                        }
                    }
                    &.blessing{
                        &:before{
                            background-position: 0 -355px;
                        }
                    }
                    &.photograph{
                        &:before{
                            background-position: 0 -232px;
                        }
                    }
                }
            }
            a{
                display: block;
                position: relative;
                height: 100%;
                line-height: 6;
                font-size: 14px;
                color: #999999;
                background:#780004;
                &:before{
                    content: "";
                    position: absolute;
                    margin-left: -10px;
                    top: 10px;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    background: url("../../../image/public/icon.png") no-repeat;
                    background-size: 100% auto;
                    background-position: 0 0;
                }
                &.photograph{
                    &:before{
                        background-position: 0 -37px;
                    }
                }
                &.procedure{
                    &:before{
                        background-position: 0 -76px;
                    }
                } 
                &.journey{
                    &:before{
                        background-position: 0 -116px;
                    }
                }
                &.blessing{
                    &:before{
                        background-position: 0 -154px;
                    }
                }
            }
        }
    }
}