@charset "UTF-8";
html {
    height: 100%;
    font-size: 20px;
}
html, body {
    font-family: Arial, Helvetica, 'Microsoft Yahei';
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background: #fff;
    color: #666666;
    font-size: .7rem;
}
body {
    height: 100%;
    background: #fff;
    -webkit-text-size-adjust: none;
}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, li, ul,ol,input {
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
/*clearfix*/
.clearfix:before,.clearfix:after {
content:"";
display:table;
}
.clearfix:after { clear:both; }/* For IE 6/7 (trigger hasLayout) */
.clearfix { zoom:1; }
input[type="text"],input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;}
textarea {-webkit-appearance: none;} 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    font-family: Arial, Helvetica, 'Microsoft Yahei';
color: #fff; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
    font-family: Arial, Helvetica, 'Microsoft Yahei';
color: #fff; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
    font-family: Arial, Helvetica, 'Microsoft Yahei';
color: #fff; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    font-family: Arial, Helvetica, 'Microsoft Yahei';
color: #fff; 
} 