<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>满月</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/dist/public/common.css" rel="stylesheet">
<link href="../style/dist/index/swiper.min.css" rel="stylesheet">
<link href="../style/dist/index/animate.min.css" rel="stylesheet">
<link href="../style/dist/index/index.css" rel="stylesheet">
</head>
<body>
    <div class="swiper-container swiper-container-vertical">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider1">
                <img src="../image/test.png" alt="" class="ani resize" style="width:320px;height:76px;left:0px;top:100px;z-index:3;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0s">
                <img src="../image/captain.png" alt="" class="ani resize" style="width:320px;height:76px;left:0px;top:100px;z-index:3;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/sun1.png" alt="" class="ani resize roate" style="width:30px;height:30px;left:70px;top:105px;z-index:4;">
                <img src="../image/sun1.png" alt="" class="ani resize roate" style="width:30px;height:30px;left:50px;top:250px;z-index:4;">
                <img src="../image/sun1.png" alt="" class="ani resize roate" style="width:30px;height:30px;right:70px;top:50px;z-index:4;">
                <img src="../image/sun1.png" alt="" class="ani resize roate" style="width:30px;height:30px;right:50px;top:280px;z-index:4;">
                <img src="../image/sun_1.png" alt="" class="ani resize sunshine sunshine1 sunshine-play" style="width:320px;height:150px;left:0px;top:63px;z-index:4;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/sun_2.png" alt="" class="ani resize sunshine sunshine2" style="width:320px;height:150px;left:0px;top:70px;z-index:4;">
                <img src="../image/text1.png" alt="" class="ani resize" style="width:320px;height:180px;left:0px;bottom:0px;z-index:4;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="5s">
            </div>
            <div class="swiper-slide slider2">
                <img src="../image/quilt.png" alt="" class="resize" style="width:320px;height:480px;left:0px;bottom:0px;z-index:4;">
                <img src="../image/clock.png" alt="" class="resize clock" style="width:50px;height:30px;left:100px;top:150px;z-index:3;">
                <img src="../image/hand.png" alt="" class="resize hand" style="width:100px;height:50px;left:100px;top:80px;z-index:3;">
                <img src="../image/text2.png" alt="" class="ani resize text2" style="width:320px;height:140px;left:0px;bottom:30px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1.5s">
            </div>
            <div class="swiper-slide slider3">
                <img src="../image/text3.png" alt="" class="ani resize" style="width:320px;height:200px;left:0px;top:10px;z-index:4;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="3s">
                <div class="face ani resize face-begin" style="width:320px;height:60px;left:3px;top:241px;z-index:4;"></div>
            </div>
            <div class="swiper-slide slider4">
                <img src="../image/text4.png" alt="" class="ani resize" style="width:320px;height:150px;left:0px;top:10px;z-index:4;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="0s">
                <img src="../image/home_light1.png" alt="" class="ani resize" style="width:320px;height:200px;left:0px;top:0;z-index:3;" swiper-animate-effect="flash" swiper-animate-duration="1.5s" swiper-animate-delay="0s">
                <img src="../image/home_light2.png" alt="" class="ani resize" style="width:320px;height:200px;left:0px;top:0;z-index:3;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/home_light3.png" alt="" class="ani resize" style="width:320px;height:200px;left:0px;top:0;z-index:3;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/home_light4.png" alt="" class="ani resize" style="width:320px;height:200px;left:0px;top:0;z-index:3;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
            </div>
            <div class="swiper-slide slider5">
                <img src="../image/text5.png" alt="" class="ani resize text5" style="width:320px;height:150px;right:0px;top:10px;z-index:4;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="5s">
                <img src="../image/picture.png" alt="" class="ani resize picture" style="width:80px;height:80px;left:60px;top:70px;z-index:3;" swiper-animate-effect="" swiper-animate-duration="1.5s" swiper-animate-delay="0s">
                <div class="ani resize man" style="width:320px;height:210px;left:0px;bottom:20px;z-index:3;" swiper-animate-effect="" swiper-animate-duration="1.5s" swiper-animate-delay="0s"></div>
                <div class="face2 ani resize" style="width:320px;height:50px;left:0px;top:270px;z-index:4;"></div>
                <img src="../image/ball.png" alt="" class="resize ball" style="width:320px;height:45px;left:0px;top:350px;z-index:3;" swiper-animate-effect="" swiper-animate-duration="1.5s" swiper-animate-delay="0s">
                <img src="../image/sweat.png" alt="" class="ani resize sweat" style="width:10px;height:10px;right:50px;top:285px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="2.5s">
            </div>
            <div class="swiper-slide slider6"></div>
            <div class="swiper-slide slider7"></div>
            <div class="swiper-slide slider8">
                <img src="../image/text8.png" alt="" class="ani resize orange" style="width:320px;height:150px;left:0px;bottom:10px;z-index:4;" swiper-animate-effect="fadeInUp" swiper-animate-duration="1.5s" swiper-animate-delay="5s">
                <img src="../image/star1.png" alt="" class="ani resize" style="width:20px;height:120px;left:10px;top:-40px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0">
                <img src="../image/star1.png" alt="" class="ani resize yellow" style="width:30px;height:180px;left:50px;top:-130px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/star1.png" alt="" class="ani resize green swing" style="width:30px;height:180px;left:130px;top:-20px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="3s">
                <img src="../image/star1.png" alt="" class="ani resize" style="width:20px;height:150px;left:20px;top:-30px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0">
                <img src="../image/star2.png" alt="" class="ani resize yellow" style="width:80px;height:150px;left:50px;top:0px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/star1.png" alt="" class="ani resize yellow" style="width:20px;height:135px;left:80px;top:0px;z-index:3;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/star3.png" alt="" class="ani resize green" style="width:30px;height:200px;left:90px;top:0px;z-index:5;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="3s">
                <img src="../image/star1.png" alt="" class="ani resize" style="width:20px;height:120px;left:105px;top:-75px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:25px;height:150px;left:115px;top:-50px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star1.png" alt="" class="ani resize yellow" style="width:15px;height:100px;left:130px;top:-40px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/star1.png" alt="" class="ani resize" style="width:20px;height:150px;left:150px;top:-20px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0">
                <img src="../image/star1.png" alt="" class="ani resize yellow" style="width:15px;height:100px;left:180px;top:-60px;z-index:3;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="2s">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:30px;height:180px;left:190px;top:-60px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star1.png" alt="" class="ani resize" style="width:20px;height:130px;left:210px;top:-80px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:30px;height:180px;left:220px;top:-90px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:15px;height:110px;left:230px;top:0px;z-index:3;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:35px;height:220px;left:240px;top:-150px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star3.png" alt="" class="ani resize blue swing-m" style="width:60px;height:350px;left:200px;top:0px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="4s">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:15px;height:100px;left:270px;top:-60px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:20px;height:120px;left:280px;top:-20px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
                <img src="../image/star1.png" alt="" class="ani resize orange" style="width:15px;height:100px;left:300px;top:-60px;z-index:4;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s">
            </div>
        </div>
        <img src="../image/arrow.png" style="width:20px;height:15px; top:460px; left:150px;" id="array" class="resize"> 
    </div>
    <script src="../script/src/lib/jquery.min.js"></script>
    <script src="../script/src/lib/swiper.jquery.min.js"></script>
    <script src="../script/src/lib/swiper.animate.min.js"></script>
    <script>
        scaleW=window.innerWidth/320;
        scaleH=window.innerHeight/480;
        var resizes = document.querySelectorAll('.resize');
        for (var j=0; j<resizes.length; j++) {
            resizes[j].style.width=parseInt(resizes[j].style.width)*scaleW+'px';
            resizes[j].style.height=parseInt(resizes[j].style.height)*scaleH+'px';
            resizes[j].style.top=parseInt(resizes[j].style.top)*scaleH+'px';
            resizes[j].style.left=parseInt(resizes[j].style.left)*scaleW+'px'; 
        }

        var mySwiper = new Swiper ('.swiper-container', {
            direction : 'vertical',
            mousewheelControl : true,
            onInit: function(swiper){
                swiperAnimateCache(swiper);
                swiperAnimate(swiper);
            },
            onSlideChangeEnd: function(swiper){
                swiperAnimate(swiper);
            },
            onTransitionEnd: function(swiper){
                swiperAnimate(swiper);
            },
            watchSlidesProgress: true,
            onProgress: function(swiper){
                for (var i = 0; i < swiper.slides.length; i++){
                    var slide = swiper.slides[i];
                    var progress = slide.progress;
                    var translate = progress*swiper.height/4;  
                    scale = 1 - Math.min(Math.abs(progress * 0.5), 1);
                    var opacity = 1 - Math.min(Math.abs(progress/2),0.5);
                    slide.style.opacity = opacity;
                    es = slide.style;
                    es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = 'translate3d(0,'+translate+'px,-'+translate+'px) scaleY(' + scale + ')';
                }
            },
            onSetTransition: function(swiper, speed) {
                for (var i = 0; i < swiper.slides.length; i++){
                    es = swiper.slides[i].style;
                    es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = speed + 'ms';
                }
            },
            onSlideChangeEnd: function(swiper){
                var index = swiper.activeIndex;
                if(index != '0'){
                    $('.sunshine').removeClass('sunshine-play');
                    $('.roate').removeClass('roing');
                }
                if(index != '1'){
                    $('.hand').removeClass('hand-roate');
                    $('.clock').removeClass('clock-tans');
                }
                if(index != '2'){
                    $('.face').addClass('face-begin');
                }
                if(index != '3'){
                    $('.man').removeClass('man-down');
                    $('.ball').removeClass('ball-down');
                    $('.face2').removeClass('happy');
                }
                switch (index){
                    case 0:
                        $('.sunshine1').addClass('sunshine-play');
                        break;
                    case 1:
                        $('.hand').addClass('hand-roate');
                        $('.clock').addClass('clock-tans');
                        break;
                    case 2:
                        clearTimeout(time2);
                        var time2 = setTimeout(function(){
                            $('.face').removeClass('face-begin');
                        },3000);
                        break;
                    case 4:
                        clearTimeout(time4);
                        var time4 = setTimeout(function(){
                            $('.man').addClass('man-down');
                            $('.ball').addClass('ball-down');
                            $('.face2').addClass('happy');
                        },2000);
                        break;
                    default:
                        break;
                }
            }
        });
    </script>
    <script src="../script/src/index/index.js"></script>
</body>
</html>