@charset "UTF-8";
/*页面A*/
.container .page-a {
    position: absolute;
    top:0;
    width  : 100%;
    height : 100%;
    background-image: url("../image/bg1.jpg");
}
/*桃心*/
.container .page-a .love{
    position: absolute;
    top: 66.5%;
    left: 6.8rem;
    width: 1rem;
    height: 1rem;
}
.container .page-a .hover{
    background: url('../image/love1.png') no-repeat;
    background-size: 100% 100%;
    -webkit-animation:swinging 2s ease-in-out 0s infinite;
    -moz-animation:swinging 2s ease-in-out 0s infinite;
    -ms-animation:swinging 2s ease-in-out 0s infinite;
    -o-animation:swinging 2s ease-in-out 0s infinite;
    animation:swinging 2s ease-in-out 0s infinite;
    -webkit-transform-origin:50% 0;
    -moz-transform-origin:50% 0;
    -ms-transform-origin:50% 0;
    -o-transform-origin:50% 0;
    transform-origin:50% 0;
}
.container .page-a .begin{
    background: url('../image/love1.png') no-repeat;
    background-size: 100% 100%;
    -webkit-animation:begin 2s linear 0s infinite;
    -moz-animation:begin 2s linear 0s infinite;
    animation:begin 2s linear 0s infinite;
}
/*运动->桃心*/
.container .page-a .love-fly{
    position: absolute;
    top: 64.5%;
    left: 6.3rem;
    width: 2rem;
    height: 2rem;
    z-index: 100;
}
/*最上方树荫*/
.container .page-a .tree{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: url('../image/tree.png');
    background-size: 500% auto;
    -webkit-animation:run 3s steps(5) reverse infinite;
    -moz-animation:run 3s steps(5) reverse infinite;
    -ms-animation:run 3s steps(5) reverse infinite;
    -o-animation:run 3s steps(5) reverse infinite;
    animation:run 3s steps(5) reverse infinite;
}

/*桂花*/
.container .page-a .flowers{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background: url('../image/flower_1.png') no-repeat;
    background-size: 100% 100%;
}
.container .page-a .f1{
    top:21%;
    left:5rem;
    -webkit-animation: f1 3s linear infinite;
    -moz-animation: f1 3s linear infinite;
    -ms-animation: f1 3s linear infinite;
    -o-animation: f1 3s linear infinite;
    animation: f1 3s linear infinite;
}
.container .page-a .f2{
    top: 20%;
    left: 4rem;
    -webkit-animation: f2 3s linear 1s infinite;
    -moz-animation: f2 3s linear 1s infinite;
    -ms-animation: f2 3s linear 1s infinite;
    -o-animation: f2 3s linear 1s infinite;
    animation: f2 3s linear 1s infinite;
}
.container .page-a .f3{
    top: 17%;
    left: 3rem;
    -webkit-animation: f3 3s linear 1.5s infinite;
    -moz-animation: f3 3s linear 1.5s infinite;
    -ms-animation: f3 3s linear 1.5s infinite;
    -o-animation: f3 3s linear 1.5s infinite;
    animation: f3 3s linear 1.5s infinite;
}
.container .page-a .f4{
    top: 20%;
    left: 3rem;
    -webkit-animation: f4 3s linear 3s infinite;
    -moz-animation: f4 3s linear 3s infinite;
    -ms-animation: f4 3s linear 3s infinite;
    -o-animation: f4 3s linear 3s infinite;
    animation: f4 3s linear 3s infinite;
    background: url('../image/flower_2.png') no-repeat;
}
.container .page-a .f5{
    top: 11%;
    left: 2rem;
    transform:scale(0.8);
    -webkit-animation: f5 4s linear 2s infinite;
    -moz-animation: f5 4s linear 2s infinite;
    -ms-animation: f5 4s linear 2s infinite;
    -o-animation: f5 4s linear 2s infinite;
    animation: f5 4s linear 2s infinite;
}
.container .page-a .f6{
    top: 10%;
    left: 8rem;
    -webkit-animation: f6 3s linear 1s infinite;
    -moz-animation: f6 3s linear 1s infinite;
    -ms-animation: f6 3s linear 1s infinite;
    -o-animation: f6 3s linear 1s infinite;
    animation: f6 3s linear 1s infinite;
    background: url('../image/flower_2.png') no-repeat;
}
.container .page-a .f7{
    top: 11%;
    left: 9rem;
    -webkit-animation: f7 4s linear 3s infinite;
    -moz-animation: f7 4s linear 3s infinite;
    -ms-animation: f7 4s linear 3s infinite;
    -o-animation: f7 4s linear 3s infinite;
    animation: f7 4s linear 3s infinite;
}
.container .page-a .f8{
    top: 20%;
    left: 10rem;
    -webkit-animation: f8 3s linear 2s infinite;
    -moz-animation: f8 3s linear 2s infinite;
    -ms-animation: f8 3s linear 2s infinite;
    -o-animation: f8 3s linear 2s infinite;
    animation: f8 3s linear 2s infinite;
    background: url('../image/flower_2.png') no-repeat;
}
/*桃心摇摆运动*/
@-webkit-keyframes swinging{
    0% { -webkit-transform: rotate(10deg); }
    50% {-webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(10deg); }
}
@-moz-keyframes swinging{
    0% { -webkit-transform: rotate(10deg); }
    50% {-webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(10deg); }
}
@-ms-keyframes swinging{
    0% { -webkit-transform: rotate(10deg); }
    50% {-webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(10deg); }
}
@-o-keyframes swinging{
    0% { -webkit-transform: rotate(10deg); }
    50% {-webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(10deg); }
}
@keyframes swinging{
    0% { -webkit-transform: rotate(10deg); }
    50% {-webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(10deg); }
}
/*桃心掉落*/
@-webkit-keyframes begin{
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:rotate(180deg);
    }
}
@-moz-keyframes begin{
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:rotate(180deg);
    }
}
@-ms-keyframes begin{
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:rotate(180deg);
    }
}
@-o-keyframes begin{
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:rotate(180deg);
    }
}
@keyframes begin{
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:rotate(180deg);
    }
}
/*树荫摆动*/
@-webkit-keyframes run {
    0% {background-position: 500% 0%;}
    100% {background-position: 0% 0%;}
}
@-moz-keyframes run {
    0% {background-position: 500% 0%;}
    100% {background-position: 0% 0%;}
}
@-ms-keyframes run {
    0% {background-position: 500% 0%;}
    100% {background-position: 0% 0%;}
}
@-o-keyframes run {
    0% {background-position: 500% 0%;}
    100% {background-position: 0% 0%;}
}
@keyframes run {
    0% {background-position: 500% 0%;}
    100% {background-position: 0% 0%;}
}

/*桂花飘落*/
@-webkit-keyframes f1{
    0% {
        top:21%;
        left:5rem;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        left:2rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-moz-keyframes f1{
    0% {
        top:21%;
        left:5rem;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        left:2rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-ms-keyframes f1{
    0% {
        top:21%;
        left:5rem;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        left:2rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-o-keyframes f1{
    0% {
        top:21%;
        left:5rem;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        left:2rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@keyframes f1{
    0% {
        top:21%;
        left:5rem;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        left:2rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes f2{
    0% {
        top: 20%;
        left: 4rem;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        left:1rem;
        transform:rotate(-180deg);
    }
}
@-moz-keyframes f2{
    0% {
        top: 20%;
        left: 4rem;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        left:1rem;
        transform:rotate(-180deg);
    }
}
@-ms-keyframes f2{
    0% {
        top: 20%;
        left: 4rem;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        left:1rem;
        transform:rotate(-180deg);
    }
}
@-o-keyframes f2{
    0% {
        top: 20%;
        left: 4rem;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        left:1rem;
        transform:rotate(-180deg);
    }
}
@keyframes f2{
    0% {
        top: 20%;
        left: 4rem;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        left:1rem;
        transform:rotate(-180deg);
    }
}
@-webkit-keyframes f3{
    0% {
        top: 17%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:0.8rem;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-moz-keyframes f3{
    0% {
        top: 17%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:0.8rem;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-ms-keyframes f3{
    0% {
        top: 17%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:0.8rem;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-o-keyframes f3{
    0% {
        top: 17%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:0.8rem;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@keyframes f3{
    0% {
        top: 17%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:0.8rem;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes f4{
    0% {
        top: 20%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:1.2;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-moz-keyframes f4{
    0% {
        top: 20%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:1.2;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-ms-keyframes f4{
    0% {
        top: 20%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:1.2;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-o-keyframes f4{
    0% {
        top: 20%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:1.2;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@keyframes f4{
    0% {
        top: 20%;
        left: 3rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:1.2;
        opacity:0;
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes f5{
    0% {
        top: 11%;
        left: 2rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    100% {
        top:60%;
        left:1rem;
        transform:rotate(-360deg);
    }
}
@-moz-keyframes f5{
    0% {
        top: 11%;
        left: 2rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    100% {
        top:60%;
        left:1rem;
        transform:rotate(-360deg);
    }
}
@-ms-keyframes f5{
    0% {
        top: 11%;
        left: 2rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    100% {
        top:60%;
        left:1rem;
        transform:rotate(-360deg);
    }
}
@-o-keyframes f5{
    0% {
        top: 11%;
        left: 2rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    100% {
        top:60%;
        left:1rem;
        transform:rotate(-360deg);
    }
}
@keyframes f5{
    0% {
        top: 11%;
        left: 2rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    100% {
        top:60%;
        left:1rem;
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes f6{
    0% {
        top: 10%;
        left: 8rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        left:3rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-moz-keyframes f6{
    0% {
        top: 10%;
        left: 8rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        left:3rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-ms-keyframes f6{
    0% {
        top: 10%;
        left: 8rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        left:3rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-o-keyframes f6{
    0% {
        top: 10%;
        left: 8rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        left:3rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@keyframes f6{
    0% {
        top: 10%;
        left: 8rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        left:3rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes f7{
    0% {
        top: 11%;
        left: 9rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:3.5rem;
        opacity: 0;
        transform:rotate(-720deg);
    }
}
@-moz-keyframes f7{
    0% {
        top: 11%;
        left: 9rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:3.5rem;
        opacity: 0;
        transform:rotate(-720deg);
    }
}
@-ms-keyframes f7{
    0% {
        top: 11%;
        left: 9rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:3.5rem;
        opacity: 0;
        transform:rotate(-720deg);
    }
}
@-o-keyframes f7{
    0% {
        top: 11%;
        left: 9rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:3.5rem;
        opacity: 0;
        transform:rotate(-720deg);
    }
}
@keyframes f7{
    0% {
        top: 11%;
        left: 9rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:3.5rem;
        opacity: 0;
        transform:rotate(-720deg);
    }
}
@-webkit-keyframes f8{
    0% {
        top: 20%;
        left: 10rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:4rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-moz-keyframes f8{
    0% {
        top: 20%;
        left: 10rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:4rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-ms-keyframes f8{
    0% {
        top: 20%;
        left: 10rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:4rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@-o-keyframes f8{
    0% {
        top: 20%;
        left: 10rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:4rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}
@keyframes f8{
    0% {
        top: 20%;
        left: 10rem;
        opacity: 1;
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:50%;
        left:4rem;
        opacity: 0;
        transform:rotate(-360deg);
    }
}