@charset "UTF-8";

.page-c {
    position: absolute;
    top:100%;
    /*top:0;*/
    width  : 100%;
    height : 100%;
    background-image: url("../image/bg3.jpg");
}
/*桃心*/
.lovec{
    display: none;
    position: absolute;
    top: -1rem;
    left: 70%;
    width: 1rem;
    height: 1rem;
    background: url('../image/love1.png') no-repeat;
    background-size: 100% 100%;
    z-index: 11;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.lovec-begin{
    -webkit-animation: lovec 3.5s linear 0s 1;
    -moz-animation: lovec 3.5s linear 0s 1;
    -ms-animation: lovec 3.5s linear 0s 1;
    -o-animation: lovec 3.5s linear 0s 1;
    animation: lovec 3.5s linear 0s 1;
}
/*桃心运动轨迹*/
@-webkit-keyframes lovec{
    0%{
        top: -1rem;
        left: 70%;
    }
    40%{
        top:32%;
        left:70%;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    45%{
        top:22%;
        left:68%;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    50%{
        top:20%;
        left:66%;
    }
    100%{
        top:100%;
        left:65%;
        -webkit-transform:rotate(720deg);
        -moz-transform:rotate(720deg);
        -ms-transform:rotate(720deg);
        -o-transform:rotate(720deg);
        transform:rotate(720deg);
    }
}
@-moz-keyframes lovec{
    0%{
        top: -1rem;
        left: 70%;
    }
    20%{
        top:32%;
        left:70%;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    25%{
        top:22%;
        left:68%;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    30%{
        top:20%;
        left:66%;
    }
    100%{
        top:100%;
        left:65%;
        -webkit-transform:rotate(720deg);
        -moz-transform:rotate(720deg);
        -ms-transform:rotate(720deg);
        -o-transform:rotate(720deg);
        transform:rotate(720deg);
    }
}
@-ms-keyframes lovec{
    0%{
        top: -1rem;
        left: 70%;
    }
    20%{
        top:32%;
        left:70%;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    25%{
        top:22%;
        left:68%;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    30%{
        top:20%;
        left:66%;
    }
    100%{
        top:100%;
        left:65%;
        -webkit-transform:rotate(720deg);
        -moz-transform:rotate(720deg);
        -ms-transform:rotate(720deg);
        -o-transform:rotate(720deg);
        transform:rotate(720deg);
    }
}
@-o-keyframes lovec{
    0%{
        top: -1rem;
        left: 70%;
    }
    20%{
        top:32%;
        left:70%;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    25%{
        top:22%;
        left:68%;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    30%{
        top:20%;
        left:66%;
    }
    100%{
        top:100%;
        left:65%;
        -webkit-transform:rotate(720deg);
        -moz-transform:rotate(720deg);
        -ms-transform:rotate(720deg);
        -o-transform:rotate(720deg);
        transform:rotate(720deg);
    }
}
@keyframes lovec{
    0%{
        top: -1rem;
        left: 70%;
    }
    20%{
        top:32%;
        left:70%;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    25%{
        top:22%;
        left:68%;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    30%{
        top:20%;
        left:66%;
    }
    100%{
        top:100%;
        left:65%;
        -webkit-transform:rotate(720deg);
        -moz-transform:rotate(720deg);
        -ms-transform:rotate(720deg);
        -o-transform:rotate(720deg);
        transform:rotate(720deg);
    }
}
/*枫叶*/
.maple{
    position: absolute;
    width: 3rem;
    height: 2.5rem;
    z-index: 10;
}
.maple1{
    right: -3rem;
    top: 0;
    background: url('../image/maple1.png') no-repeat;
    background-size: 100% auto;
    -webkit-animation: m1 4s linear 0s infinite;
    -moz-animation: m1 4s linear 0s infinite;
    -ms-animation: m1 4s linear 0s infinite;
    -o-animation: m1 4s linear 0s infinite;
    animation: m1 4s linear 0s infinite;
}
.maple2{
    width: 2rem;
    height: 1.5rem;
    right: -5rem;
    top: 2rem;
    background: url('../image/maple2.png');
    background-size: 100% auto;
    -webkit-animation: m2 4s linear 1s infinite;
    -moz-animation: m2 4s linear 1s infinite;
    -ms-animation: m2 4s linear 1s infinite;
    -o-animation: m2 4s linear 1s infinite;
    animation: m2 4s linear 1s infinite;
}
.maple3{
    right: -3rem;
    top: 5rem;
    background: url('../image/maple3.png');
    background-size: 100% auto;
    -webkit-animation: m3 6s linear 2s infinite;
    -moz-animation: m3 6s linear 2s infinite;
    -ms-animation: m3 6s linear 2s infinite;
    -o-animation: m3 6s linear 2s infinite;
    animation: m3 6s linear 2s infinite;
}
/*衣架*/
.hanger{
    position: absolute;
    width: 5rem;
    height: 3rem;
    -webkit-animation: han 3s linear infinite;
    -moz-animation: han 3s linear infinite;
    -ms-animation: han 3s linear infinite;
    -o-animation: han 3s linear infinite;
    animation: han 3s linear infinite;
}
.hanger1{
    top: 85%;
    left: 1rem;
    background: url('../image/hanger1.png') no-repeat;
    background-size: 100% auto;
}
.h-gb1{
    top: 88%;
    left: 1.6rem;
    background-position: 0 -4rem;
}
.hanger2{
    top: 85%;
    left: 7rem;
    background: url('../image/hanger2.png') no-repeat;
    background-size: 100% auto;
}
.h-gb2{
    top: 88%;
    left: 7.6rem;
    background-position: 0 -4rem;
}
.hanger3{
    top: 85%;
    left: 10rem;
    background: url('../image/hanger3.png') no-repeat;
    background-size: 100% auto;
}
.h-gb3{
    top: 89%;
    left: 10.6rem;
    background-position: 0 -4rem;
}
.hanger4{
    top: 84.2%;
    left: 10.5rem;
    background: url('../image/hanger4.png') no-repeat;
    background-size: 100% auto;
}
.h-gb4{
    top: 89%;
    left: 11rem;
    background-position: 0 -4rem;
}
/*窗帘*/
.curtain{
    position: absolute;
    left:0;
    top:36%;
    width:100%;
    height:10rem;
    background: url('../image/curtain.png');
    background-size: 300% auto;
    z-index: 1;
    -webkit-animation: curtain 2s steps(3) infinite;
    -moz-animation: curtain 2s steps(3) infinite;
    -ms-animation: curtain 2s steps(3) infinite;
    -o-animation: curtain 2s steps(3) infinite;
    animation: curtain 2s steps(3) infinite;
}
/*窗户*/
.window{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../image/window.png');
    background-size: 300% 107%;
    z-index: 9;
}
.window-begin{
    -webkit-animation: window 3s steps(1) infinite;
    -moz-animation: window 3s steps(1) infinite;
    -ms-animation: window 3s steps(1) infinite;
    -o-animation: window 3s steps(1) infinite;
    animation: window 3s steps(1) infinite;
}
/*窗户运动轨迹*/
@-webkit-keyframes window{ 
    0%{background-position: 100% 0;}
    25%{background-position: 200% 0;}
    50%{background-position: 300% 0;}
    75%{background-position: 200% 0;}
    100%{background-position: 100% 0;}
}
@-moz-keyframes window{ 
    0%{background-position: 100% 0;}
    25%{background-position: 200% 0;}
    50%{background-position: 300% 0;}
    75%{background-position: 200% 0;}
    100%{background-position: 100% 0;}
}
@-ms-keyframes window{ 
    0%{background-position: 100% 0;}
    25%{background-position: 200% 0;}
    50%{background-position: 300% 0;}
    75%{background-position: 200% 0;}
    100%{background-position: 100% 0;}
}
@-o-keyframes window{ 
    0%{background-position: 100% 0;}
    25%{background-position: 200% 0;}
    50%{background-position: 300% 0;}
    75%{background-position: 200% 0;}
    100%{background-position: 100% 0;}
}
@keyframes window{ 
    0%{background-position: 100% 0;}
    25%{background-position: 200% 0;}
    50%{background-position: 300% 0;}
    75%{background-position: 200% 0;}
    100%{background-position: 100% 0;}
}
/*窗帘运动轨迹*/
@-webkit-keyframes curtain{
    100%{background-position: 300% 0;}
}
@-moz-keyframes curtain{
    100%{background-position: 300% 0;}
}
@-ms-keyframes curtain{
    100%{background-position: 300% 0;}
}
@-o-keyframes curtain{
    100%{background-position: 300% 0;}
}
@keyframes curtain{
    100%{background-position: 300% 0;}
}
/*枫叶运动轨迹*/
@-webkit-keyframes m1{
    0% {
        right: -3rem;
        top: 0;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-moz-keyframes m1{
    0% {
        right: -3rem;
        top: 0;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-ms-keyframes m1{
    0% {
        right: -3rem;
        top: 0;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-o-keyframes m1{
    0% {
        right: -3rem;
        top: 0;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@keyframes m1{
    0% {
        right: -3rem;
        top: 0;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:60%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-webkit-keyframes m2{
    0% {
        right: -3rem;
        top: 5rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-moz-keyframes m2{
    0% {
        right: -3rem;
        top: 5rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-ms-keyframes m2{
    0% {
        right: -3rem;
        top: 5rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-o-keyframes m2{
    0% {
        right: -3rem;
        top: 5rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@keyframes m2{
    0% {
        right: -3rem;
        top: 5rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:40%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes m3{
    0% {
        right: -5rem;
        top: 2rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:80%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-moz-keyframes m3{
    0% {
        right: -5rem;
        top: 2rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:80%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-ms-keyframes m3{
    0% {
        right: -5rem;
        top: 2rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:80%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-o-keyframes m3{
    0% {
        right: -5rem;
        top: 2rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:80%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@keyframes m3{
    0% {
        right: -5rem;
        top: 2rem;
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
        top:80%;
        right:100%;
        opacity: 0;
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform:rotate(-360deg);
        -o-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
/*衣架运动轨迹*/
@-webkit-keyframes han{
    0% {
        -webkit-transform:rotateY(-30deg);
        -moz-transform:rotateY(-30deg);
        -ms-transform:rotateY(-30deg);
        -o-transform:rotateY(-30deg);
        transform:rotateY(-30deg);
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    100% {
        -webkit-transform:rotateY(30deg);
        -moz-transform:rotateY(30deg);
        -ms-transform:rotateY(30deg);
        -o-transform:rotateY(30deg);
        transform:rotateY(30deg);
    }
}
@-moz-keyframes han{
    0% {
        -webkit-transform:rotateY(-30deg);
        -moz-transform:rotateY(-30deg);
        -ms-transform:rotateY(-30deg);
        -o-transform:rotateY(-30deg);
        transform:rotateY(-30deg);
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    100% {
        -webkit-transform:rotateY(30deg);
        -moz-transform:rotateY(30deg);
        -ms-transform:rotateY(30deg);
        -o-transform:rotateY(30deg);
        transform:rotateY(30deg);
    }
}
@-ms-keyframes han{
    0% {
        -webkit-transform:rotateY(-30deg);
        -moz-transform:rotateY(-30deg);
        -ms-transform:rotateY(-30deg);
        -o-transform:rotateY(-30deg);
        transform:rotateY(-30deg);
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    100% {
        -webkit-transform:rotateY(30deg);
        -moz-transform:rotateY(30deg);
        -ms-transform:rotateY(30deg);
        -o-transform:rotateY(30deg);
        transform:rotateY(30deg);
    }
}
@-o-keyframes han{
    0% {
        -webkit-transform:rotateY(-30deg);
        -moz-transform:rotateY(-30deg);
        -ms-transform:rotateY(-30deg);
        -o-transform:rotateY(-30deg);
        transform:rotateY(-30deg);
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    100% {
        -webkit-transform:rotateY(30deg);
        -moz-transform:rotateY(30deg);
        -ms-transform:rotateY(30deg);
        -o-transform:rotateY(30deg);
        transform:rotateY(30deg);
    }
}
@keyframes han{
    0% {
        -webkit-transform:rotateY(-30deg);
        -moz-transform:rotateY(-30deg);
        -ms-transform:rotateY(-30deg);
        -o-transform:rotateY(-30deg);
        transform:rotateY(-30deg);
    }
    50%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    100% {
        -webkit-transform:rotateY(30deg);
        -moz-transform:rotateY(30deg);
        -ms-transform:rotateY(30deg);
        -o-transform:rotateY(30deg);
        transform:rotateY(30deg);
    }
}