@charset "UTF-8";

.page-b {
    position: absolute;
    top:25%;
    /*top:0;*/
    width  : 100%;
    height : 25%;
}
/*桃心*/
.page-b .loveb{
    position: absolute;
    top: 2rem;
    left: 54%;
    opacity: 0;
    width: 1rem;
    height: 1rem;
    background: url('../image/love1.png') no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
/*光晕*/
.page-b .halo{
    position: absolute;
    top: 20%;
    left: 65%;
    width: 2rem;
    height: 2rem;
    opacity: 0.53;
    background: url('../image/halo.png') no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    z-index: 10;
}
.active .halo{
    -webkit-animation:halo 6s linear 0s infinite;
    -webkit-transform-origin:50% 50%;
}
/*文字*/
.bg2txt{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: url('../image/bg2txt.png') no-repeat;
    background-size: 100% auto;
    z-index: 100;
}
/*树荫*/
.page-b .b-tree{
    position: absolute;
    top: 19%;
    left: 40%;
    width:5rem;
    height:5rem;
    background: url('../image/tree1.png');
    background-size: auto 600%;
    z-index: 1;
}
.active .tree-down{
    display: block !important;
    -webkit-animation:treeb 800ms steps(6) 700ms 1;
}
/*树荫上下摆动*/
@-webkit-keyframes treeb {
    0% {background-position: 0% 600%;}
    100% {background-position: 0% 0%;}
}
.page-b .halo2{
    top: 15%;
    left: 74%;
    width: 1.8rem;
    height: 1.8rem;
    background-position: 0 -3.5rem;
}
.page-b .halo3{
    top: 9%;
    left: 82%;
    width: 1.8rem;
    height: 1.8rem;
    opacity: 0.68;
    background-position: 0 -6.5rem;
}
.active .halo3{
    -webkit-transform-origin:60% 40%;
}
.page-b .halo4{
    top: 8%;
    left: 84.5%;
    width: 1.8rem;
    height: 1.8rem;
    opacity: 1;
    background-position: 0 -9.5rem;
}
.active .halo4{
    -webkit-transform-origin:50% 29%;
}
.active .begin-b{
    -webkit-animation:beginb 2.2s ease-in-out 500ms forwards;
}
.page-b .begin-stop{
    -webkit-transform:rotate(410deg);
}
.active .go{
    -webkit-animation: loves 1s ease-in-out forwards;
}
/*小鸟*/
.bird-fly{
    position: absolute;
    top: 20%;
    left: -3rem;
    width: 3rem;
    height: 3rem;
    background: url('../image/bird_fly.png') no-repeat;
    background-size: 400% auto;
}
.active .fly{
    -webkit-animation:bird 1s steps(4) infinite, fly 2s linear forwards;
}
.flyup{
    -webkit-animation:bird 1s steps(4) infinite, flyup 1.5s linear forwards;
}
/*小鸟落下*/
.bird-stop{
    background: url('../image/bird_stop.png') no-repeat;
    background-size: 300% auto;
    top:76%;
    left:30%;
    width: 3.4rem;
    height: 3.4rem;
    -webkit-animation:birdstop 1s steps(3) infinite , lef 1s linear forwards;
}
/*桃心掉落*/
@-webkit-keyframes beginb{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        top:80%;
        transform:rotate(410deg);
    }
}
/*光晕转动*/
@-webkit-keyframes halo{
    100%{
        transform:rotate(360deg);
    }
}
/*小鸟落下*/
@-webkit-keyframes bird {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 133% 0%;
    }
}
/*小鸟落下*/
@-webkit-keyframes fly{
    100%{
        top:76%;
        left:30%;
    }
}
/*小鸟飞走*/
@-webkit-keyframes flyup{
    0%{
        top:76%;
        left:35%;
    }
    100%{
        top:30%;
        left:100%;
    }
}
/*小鸟啄心*/
@-webkit-keyframes birdstop {
    from {background-position: 0% 0%;}
    to {background-position: 150% 0%;}
}
/*小鸟移动*/
@-webkit-keyframes lef{
    100%{left:35%;}
}
/*心落下*/
@-webkit-keyframes loves {
    0%{
        top:80%;
        opacity: 1;
        transform:rotate(410deg);
    }
    70%{
        opacity: 1;
    }
    100% {
        top:96%;
        opacity: 0;
        transform:rotate(720deg);
    }
}